@import "./forms.scss";
@import "./share.scss";
@import "./docs.scss";
/*Google Fonts- Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #4a4a4e;
}

h1,
h2 {
  text-align: center;
  font-size: 2rem;
}
.tab {
  margin-top: 2.5em;
}

body {
  background: #d5e1ce;

  header {
    height: 15vh;
    // padding: 1rem 0;

    nav.navbar.navbar-expand-lg {
      // background: #7895b2;
      background: #fff;
    }
  }

  .container {
    height: 80vh;
    width: auto;
    margin: auto;

    #content {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d5e1ce;
    div {
      text-align: center;
    }
  }
}
