.modal-content {
    .modal-body {
        .container-fluid {    
            .field {
                input, textarea {
                    margin-bottom: 8px;
                    border-radius: 10px;
                    height: 35px;
                }

                textarea {
                    margin-bottom: 8px;
                    border-radius: 10px;
                }


            }
        }
        
    }
}
