#eventEditModal {

    .modal-header input.title {
        width: 90%;
        margin: 0 auto;
    }

    input, textarea {
        margin-bottom: 8px;
        border-radius: 10px;
        height: 35px;
    }

    textarea {
        margin-bottom: 8px;
        border-radius: 10px;
    }



}
